TODO

# intermediate file
autoscan.log
config.log
Makefile
base/.deps/*
base/.dirstamp
base/*.o
snake_src/.deps/*
snake_src/.dirstamp
snake_src/*.o
autom4te.cache
autoscan.log
config.log
config.status

# lib & execution
snake
lib*

# automake additional file
aclocal.m4
compile
configure
depcomp
INSTALL
install-sh
Makefile.in
missing

# necessary
!configure.ac
!Makefile.am
